[
    {
        "ParameterKey": "EnvironmentName",
        "ParameterValue":"${environment}"
    },

    {
        "ParameterKey":"CertData",
        "ParameterValue":"${CertData}"
     },

    {
        "ParameterKey":"appsubnets",
        "ParameterValue":"${appsubnets}"
    },


    {
        "ParameterKey":"ClusterName",
        "ParameterValue":"${ClusterName}"  
    },
    
    {
        "ParameterKey":"APIEndPoint",
        "ParameterValue":"${APIEndPoint}"  
    },
    {
        "ParameterKey":"RoleArn",
        "ParameterValue":"${RoleArn}"  
    },

    {
        "ParameterKey":"SG",
        "ParameterValue":"${SG}"  
    },

    {
        "ParameterKey":"Product",
        "ParameterValue":"${Product}"  
    },
    {
        "ParameterKey":"ApplicationName",
        "ParameterValue":"${ApplicationName}"
    }
    ,
    {
        "ParameterKey":"ProductOwnerEmail",
        "ParameterValue":"${ProductOwnerEmail}"
    },
    {
        "ParameterKey":"ImageAmi",
        "ParameterValue":"${nodeAmiId}"

    }
]         
